<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.1.xsd"
       default-init-method="init">

  <bean name="wxSessionManager" class="com.riversoft.wx.session.DefaultWxSessionManager" />

  <bean name="duplicatedMessageChecker" class="com.riversoft.wx.util.DefaultDuplicatedMessageChecker"/>

  <bean name="wxAnnotatedCommandsHolder" class="com.riversoft.wx.annotation.WxAnnotatedCommandsHolder" />

</beans>