<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
	
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
			<charset>GBK</charset>
		</encoder>
	</appender>

	<logger name="com.riversoft" level="debug" />
		
	<logger name="org.springframework" level="info" />
  
	<logger name="org.hibernate" level="info" />

	<logger name="org.jumpmind.db.sql" level="info" />

	<logger name="org.apache.commons" level="warn" />

	<logger name ="net.sf" level="warn" />
	
	<logger name ="net.sourceforge" level="warn" />
		
	<root level="debug">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>